# --- Config Server ---
CONFIG_SERVER_PORT=8888

# --- Discovery Server (Eureka) ---
EUREKA_SERVER_PORT=8761
EUREKA_HOSTNAME=localhost
EUREKA_URL=http://localhost:8761/eureka/

# --- Spring Cloud Config ---
CONFIG_SERVER_URL=http://localhost:8888

# --- Auth Service ---
AUTH_SERVICE_PORT=8070

# --- MySQL ---
MYSQL_AUTH_HOST=
MYSQL_AUTH_DATABASE=
MYSQL_ROOT_USERNAME=
MYSQL_ROOT_PASSWORD=

MYSQL_USER_HOST=
MYSQL_USER_DATABASE=

MYSQL_REPORT_HOST=
MYSQL_REPORT_DATABASE=

# --- JWT ---
JWT_SECRET=
JWT_EXPIRATION=86400000

# --- JPA ---
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

# --- API-GATEWAY ---
API_GATEWAY_PORT=8080

# --- Google ---
GOOGLE_CLIENT_ID=

# --- KAKFA ---
KAFKA_BROKER=localhost:9092

# --- USER SERVICE ---
USER_SERVICE_PORT=8060